/* RESETEO */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GENERAL */
html,
body {
    font-size: 16px;
    font-family: "Roboto Slab";
}

p {
    line-height: 160%;
}

small {
    color: #FFFFFF;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

a {
    text-decoration: none;
}

i.flaticon-gorjeo:before,
i.flaticon-simbolo-de-la-aplicacion-de-facebook:before,
i.flaticon-logotipo-de-instagram::before {
    margin: 0px;
    margin-right: 10px;
}

/* HEADER*/
header#header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0px 100px;
}

header#header img {
    width: 150px;
    height: 50px;
}

header#header nav#menu ul li a {
    padding: 10px 15px;
    background-color: #555555;
    border-radius: 25px;
    color: #FFFFFF;
}

header#header nav#menu ul li a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* MAIN*/
main#main {
    width: 90%;
    margin: auto;
    position: relative;
}

main#main section#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 43, 0, 0.8)), url(assets/imagenes/banner.jpg) no-repeat center center/cover;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main#main section#banner h1 {
    color: #FFFFFF;
    font-size: 3rem;
}

main#main section#banner h2 {
    color: #FFFFFF;
    font-size: 2rem;
}

/* PARTE PRODUCTOS */
main#main section#productos {
    text-align: center;
    padding: 50px 0px;
}

main#main section#productos h3 {
    margin-bottom: 50px;
}

main#main section#productos a {
    color: #005a00;
}

main#main section#productos a:hover {
    color: #000000;
}

main#main section#productos a p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

/* PARTE nosotros */
main#main section#nosotros {
    width: 60%;
    display: flex;
    padding: 50px 0px;
    margin: auto;
    flex-direction: column;
}

main#main section#nosotros article{
    display: flex;
}

main#main section#nosotros article div {
    width: 50%;
    min-height: 40vh;
    border-radius: 50px;
}

main#main section#nosotros article div.foto1 {
    background: url(assets/imagenes/foto1.jpg) no-repeat center center/cover;
}

main#main section#nosotros article div.foto2 {
    background: url(assets/imagenes/foto2.jpg) no-repeat center center/cover;
}

main#main section#nosotros article div.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}

main#main section#nosotros article p {
    margin-bottom: 20px;
}

main#main section#nosotros article div.texto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    order: 1;
}

/* PARTE PRODUCTO */
main#main section#producto,
main#main section#envio {
    min-height: 60vh;
    width: 90%;
    display: inline-block;
}

main#main section#producto article {
    display: flex;
    justify-content: space-around;
}

main#main section#producto article div.info {
    vertical-align: middle;
}

main#main section#producto article div.info p.precio {
    color: #005a00;
    font-size: 2rem;
    font-weight: bold;
}

/* ASIDE*/
main#main aside#aside {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    background-color: #005a00;
    padding: 20px 10px;
}

main#main aside#aside h4 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

main#main aside#aside div#social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#main aside#aside div#social a {
    margin: 10px 0px;
    color: #9c9c9c;
}

main#main aside#aside div#social a:hover {
    color: #FFFFFF;
}

/* FOOTER */
footer#footer {
    min-height: 20vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}